<!-- Bootstrap & jQuery -->
<link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" 
    rel="stylesheet">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
<script
    src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js">
    </script>
<!-- X-editable -->
<link 
    href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css" 
    rel="stylesheet"/>
<script
    src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.min.js">
    </script>

{% load dashboard_extras %}


{% for firm in firms_list %}
  
  <a href="#" class="firm-name" data-type="text" data-pk="{{ firm.id }}" 
      data-url="edit-firm-name/"
      data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ firm }}</a>
  
  <a href="#" class="firm-status" data-type="select" data-pk="{{ firm.id }}" 
      data-url="edit-firm-status/"
      data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
      {{ firm.get_app_status_display }}</a>

  Deadline: <a href="#" class="firm-deadline" data-type="date"
      data-pk="{{ firm.id }}" data-url="edit-firm-deadline/"
      data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ firm.deadline }}
      </a>
      
  Remind on {{ firm.reminder_date }}<br>
  For contacts in this firm/group, remind every
    {{ firm.reminder_recurrence_number}}

  <a href="#" class="firm-recurring-type" data-type="select"
      data-pk="{{ firm.id }}" data-url="edit-firm-recurring-type/"
      data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
      {{ firm.get_reminder_recurrence_type_display }}</a>     
  
  {% for contact in contacts_dict|access_dict_value:firm %}
    <p>
      
      <a href="#" class="contact-name" data-type="text"
          data-pk="{{ contact.id }}" data-url="edit-contact-name/" 
          data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
          {{ contact }}</a>
      
      <a href="#" class="contact-position" data-type="text"
          data-pk="{{ contact.id }}" data-url="edit-contact-position/" 
          data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
          {{ contact.position }}</a>

      Last contacted on {{ contact.last_contact_date }}
      Remind every {{ contact.reminder_recurrence_number}}
      {{ contact.get_reminder_recurrence_type_display }}
      Remind on {{ contact.reminder_date }}
    </p>
  {% endfor %}

{% endfor %}

<script src="{{ STATIC_URL }}js/xeditable-execute.js"></script>